.container{
    border: 1px solid black;
    background-color: yellow;
    height: 700px;
    width: 600px;

    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;

    /* Place-Items is a shorthand notation for justify-items and align-items */
    place-content: center;

    /* or could have written justify-content:center; and align-content:center; */

}

.box{
    border: 1px solid red;
    background-color: aqua;
}


