.container{
    border: 1px solid black;
    background-color: yellow;
    height: 700px;
    width: 600px;

    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;

    grid-gap: 10px;

}

.box{
    border: 1px solid red;
    background-color: aqua;
}

#box1{
    align-self: stretch;
    align-self: center;
    /* iss se vertical axis ke along block center mein place ho jaega */
}